diff --git a/.env.example b/.env.example
deleted file mode 100644
index b292968..0000000
--- a/.env.example
+++ /dev/null
@@ -1,4 +0,0 @@
-PORT=9222
-DID_YOU_KNOW=none
-EXTERNAL_TRACE_API_URL=
-EXTERNAL_TRACE_API_KEY=change_me_in_production
\ No newline at end of file
